<profile defaultProvider="SqlProfileProvider">
  <providers>
    <clear />
    <add name="SqlProfileProvider" connectionStringName="ProviderDB" applicationName="MSIEnterprise" type="System.Web.Profile.SqlProfileProvider" />
  </providers>
  <properties>
    <add name="WebPage" />
    <add name="TwitterName" />
  </properties>
</profile>